.page.theme_dark {
  --bg-image: url('../images/cover-image-dark.png');

  --page-bg-color: #000028;
  --accent-color: #ff0070;
  --title-bg-accent-color: var(--accent-color);
  --header-buttons-text-color: var(--accent-color);
  --heading-title-color: #db00ff;
  --title-text-shadow: var(--accent-color);
  --title-decor-text-color: var(--page-bg-color);
  --section-header-text: var(--accent-color);
  --card-text-color: #f1b2ce;
  --link-shadow-color: var(--accent-color);

  --lamp-decoration-color: var(--accent-color);

  --outline: 1px solid rgba(255, 0, 112, 0.4);
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-image: url('../images/cover-image-dark.png');

    --page-bg-color: #000028;
    --accent-color: #ff0070;
    --title-bg-accent-color: var(--accent-color);
    --header-buttons-text-color: var(--accent-color);
    --heading-title-color: #db00ff;
    --title-text-shadow: var(--accent-color);
    --title-decor-text-color: var(--page-bg-color);
    --section-header-text: var(--accent-color);
    --section-text-color: #f1b2ce;
    --link-shadow-color: var(--accent-color);

    --lamp-decoration-color: var(--accent-color);

    --outline: 1px solid rgba(255, 0, 112, 0.4);
  }
}