.page.theme_light {
  --bg-image: url('../images/cover-image-light.png');

  --page-bg-color: #fff1f7; 
  --accent-color: #353430;
  --title-bg-accent-color: #ff8dcb; 
  --header-buttons-text-color: var(--accent-color);
  --heading-title-color: #ffc2e6; 
  --title-text-shadow: var(--title-bg-accent-color);
  --title-decor-text-color: var(--accent-color);
  --section-header-text: var(--accent-color);
  --section-text-color: var(--accent-color);
  --card-text-color: var(--accent-color);
  --link-shadow-color: var(--title-bg-accent-color);

  --lamp-decoration-color: transparent;

  --outline: 1px solid rgba(50, 49, 45, 0.4);
}

@media (prefers-color-scheme: light) {
  :root {
    --bg-image: url('../images/cover-image-light.png');

    --page-bg-color: #fff1f7; 
    --accent-color: #353430;
    --title-bg-accent-color: #ff8dcb; 
    --header-buttons-text-color: var(--accent-color);
    --heading-title-color: #ffc2e6; 
    --title-text-shadow: var(--title-bg-accent-color);
    --title-decor-text-color: var(--accent-color);
    --section-header-text: var(--accent-color);
    --section-text-color: var(--accent-color);
    --card-text-color: var(--accent-color);
    --link-shadow-color: var(--title-bg-accent-color);

    --lamp-decoration-color: transparent;
    
    --outline: 1px solid rgba(50, 49, 45, 0.4);
  }
}